body {
}
.branding {
	font-size: 17px;
}


.zdjecie1 .wdech {
	transition: 2.5s ease-out;
}

.zdjecie1 .wdech:hover {

font-size: 55px;
}

.zdjecie1 {
	background-image: url(../img/zdj1.jpg); no-repeat;
 	height: 600px;
 	padding: 150px 100px; 
 	color:white;
}

.zdjecie1 h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	color:white;
}

.zdjecie1 hr {   /* Można usunąć zmiany, będzie wyglądać dobrze.*/
margin: auto;
border-color: #2196F3;
width: 100px;
border-width:3px;
}
.zdjecie1 p {
	padding-bottom: 20px;
}

./* icon */ 
.icobut {
padding-left: 10px;
}

/* sekcje */ 

.section {
padding:40px 0;
}

.section h2{
padding:0;
margin: 0;
}

.section .fa {
	font-size:  50px;	
}
.section .fa {
	font-size: 50px;
}

.section img {
	width: 100%;
} 


.section textarea {
	margin-bottom: 20px;
}

.forgot {
	color: black;
	float: right;
}

footer {
	margin-bottom: -70px;
}

@media only screen and (max-width: 600px) {
	body {
		margin-top: 190px;
	}
	.zdjecie1 {
		height: 400px;
		padding: 60px 0;
	}
}